{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/css/shirts.css'  %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script type="text/javascript">

        window.addEventListener("load", function () {


            let id = null;
            const elem = document.getElementById("voice_assis_bg");
            let pos = 0;
            clearInterval(id);
            id = setInterval(frame, 3000);
            function frame() {
                if (pos == 1) {
                    clearInterval(id);
                } else {

                    pos++;
                    elem.style.bottom = pos + 'px';

                }
            }


        })

        function speak(Text) {

            const utterance = new SpeechSynthesisUtterance(Text);
            utterance.rate = 1;


            speechSynthesis.speak(utterance);


        }

        function runSpeechRecognition() {
            // get output div reference
            var output = document.getElementById("output");
            // get action element reference
            var action = document.getElementById("action");
            // new speech recognition object
            var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
            var recognition = new SpeechRecognition();

            // This runs when the speech recognition service starts
            recognition.onstart = function () {
                action.innerHTML = "<small>listening, please speak...</small>";
            };

            recognition.onspeechend = function () {
                action.innerHTML = "<small>stopped listening, hope you are done...</small>";
                recognition.stop();



            }

            // This runs when the speech recognition service returns result
            recognition.onresult = function (event) {
                var transcript = event.results[0][0].transcript;

                output.innerHTML = "<b>Text:</b> " + transcript + "<br/>";
                output.classList.remove("hide");

                hello(transcript);

                return transcript;
            };


            // start recognition on command "hello assistant"

            recognition.start();




        }






        function hello(transcript) {
            var transcript = transcript

            var URL = "{% url 'search' %}";
            var data = { 'transcript': transcript };
            $.get(URL, data, function (response) {
                const str = response
                const array_of_result_to_be_shown = str.split(' ');
                console.log(typeof array_of_result_to_be_shown)
                console.log(array_of_result_to_be_shown)
                const gender = array_of_result_to_be_shown[0]
                const type = array_of_result_to_be_shown[1]
                console.log(gender)
                if ((gender === "men" || gender === "mens" || gender === "men's") && (type === "shirt's" || type === "shirts" || type === "shirt")) {
                    window.location.href = "{% url 'shirts' %}"
                    speak("showing results for " + transcript);

                }
                else if ((gender === "women" || gender === "womens" || gender === "women's") && (type === "shirt's" || type === "shirts" || type === "shirt")) {
                    window.location.href = "{% url 'womenshirts' %}"
                    speak("showing results for " + transcript);

                }
                else if (gender === "home") {
                    window.location.href = "{% url 'homepage' %}"
                    speak("showing results for " + transcript);
                }

                else {
                    speak("There is no search result for" + transcript + "Sorry, for the inconvenience");
                }
            });

        }

    </script>

</head>

<body>

    <div class="all_sections" id="header">
        <div class="nav">

            <div class="wrapper">
                <nav class="navbar">
                    <li><a href="#">KAIV CLOTHING</a></li>

                    <ul class="navbar_list">

                        <li class="navbar_listitem Home"><a href="">HOME</a>
                            <ul class="navbar_listitemdrop">
                                <li>about

                                </li>
                                <li>sales</li>
                            </ul>

                        </li>
                        <li class="navbar_listitem"><a href="">MEN</a>
                            <ul class="navbar_listitemdrop">
                                <li>T-Shirts

                                </li>
                                <li>Shirts</li>
                                <li>Jeans</li>
                            </ul>
                        </li>
                        <li class="navbar_listitem"><a href="">WOMEN</a>
                            <ul class="navbar_listitemdrop">
                                <li>T-Shirts

                                </li>
                                <li>Shirts</li>
                                <li>Jeans</li>
                            </ul>

                        </li>
                        <li class="navbar_listitem"><a href="">CONTACTUS</a>

                        </li>



                    </ul>
                    <div class="sign_btn">
                        
                        <li><a href="">{{request.session.Firstname}}</a></li>

                    </div>


                </nav>



            </div>

        </div>


    </div>
    <div class="Section_2_wrapper">
        <h1 class="Section_2_heading"> Mens tshirts</h1>
        <h2 class="filters_heading">Filters</h2>
        <h2 class="product_heading"> Products</h2>
        <div class="Section_2">


            <div class="options">
                <h3>Color</h3>
                <input type="checkbox" id="color1" name="color1" value="Red">
                <label for="color1">White</label><br>
                <input type="checkbox" id="color2" name="color2" value="Blue">
                <label for="color2"> Blue</label><br>
                <input type="checkbox" id="color3" name="color3" value="Green">
                <label for="color3"> Green
                </label><br>
                <input type="checkbox" id="color4" name="color4" value="Red">
                <label for="color4"> Red
                </label><br>
                <input type="checkbox" id="color5" name="color5" value="Yellow">
                <label for="color5"> Yellow
                </label><br>

                <br>
                <h3>Brand</h3>
                <input type="checkbox" id="brand1" name="brand1" value="Levis">
                <label for="brand1">Levis</label><br>
                <input type="checkbox" id="brand2" name="brand2" value="Gas">
                <label for="brand2"> Gas</label><br>
                <input type="checkbox" id="brand3" name="brand3" value="Zara">
                <label for="brand3"> Zara</label><br>
                <input type="checkbox" id="brand4" name="brand4" value="Roadster">
                <label for="brand4"> Roadster</label><br>
                <input type="checkbox" id="brand5" name="brand5" value="Nike">
                <label for="brand5"> Nike
                </label><br><br>




            </div>

            <div class="products">

                <div class="item " id="item_1">

                </div>
                <div class="item " id="item_2">

                </div>
                <div class="item " id="item_3">

                </div>
                <div class="item " id="item_4">

                </div>
                <div class="item " id="item_5">

                </div>
                <div class="item " id="item_6">

                </div>
                <div class="item " id="item_7">

                </div>
                <div class="item " id="item_8">

                </div>
                <div class="item " id="item_9">

                </div>
                <div class="item " id="item_10">

                </div>

            </div>



        </div>

    </div>



    <div id="voice_assis_bg" class="VoiceAssistant">
        <h3>Hello {{request.session.Firstname}} how may I help you?</h3>
        <h4 class="content"> {{msg}}</h4>



        <button onclick="runSpeechRecognition()" class="ask_btn">Ask? </button>
        <div id="output" class="hide"></div>
    </div>
    </div>



    <div class="all_sections" id="footer">

        <div class="footer_wraper">
            <div>
                <h3>ONLINE SHOPING</h3>
                <ul>
                    <li>Men</li>
                    <li>Women</li>
                </ul>

            </div>
            <div>
                <h3>USEFUL LINKS</h3>
                <ul>
                    <li>Contact us</li>
                    <li>FAQ</li>
                    <li>Privacy Policy</li>
                    <li>Track Order</li>
                    <li>Returns</li>
                </ul>

            </div>
            <div>
                <h3>KEEP IN TOUCH</h3>
                <ul>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-youtube"></i>
                </ul>

            </div>



        </div>


    </div>



</body>

</html>