<html>

<head>
    <title>Mens</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <meta name="description"
        content="How To Create A Basic Bootstrap Ecommerce Website, Basic Ecommerce Website, bootstrap websites, free bootstrap ecommerce websites, sample bootstrap websites." />
    <meta name="keywords"
        content="bootstrap ecommerce websites, free bootstrap websites, free bootstrap ecommerce websites, free responsive websites, basic bootstrap ecommerce website, how to create a bootstrap website, top bootstrap websites, basic bootstrap website teplates, bootstrap, bootstrap referene websites, practice bootstrap websites, how to create a website, how to create static website, how to create bootstrap websites, how to create bootstrap 4 website, how to create a material design website, best websites, how to create a bootstrap 3 website. " />
    <link rel="canonical"
        href="http://www.freetimelearning.com/references/bootstrap-websites/bootstrap-ecommerce-website/index.html">
    <link rel="alternate" hreflang="en-gb"
        href="http://www.freetimelearning.com/references/bootstrap-websites/bootstrap-ecommerce-website/index.html">
    <link rel="alternate" hreflang="en"
        href="http://www.freetimelearning.com/references/bootstrap-websites/bootstrap-ecommerce-website/index.html">
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="How To Create A Basic Bootstrap Ecommerce Website - Free Time Learning" />
    <meta property="og:type" content="Free Time Learning | Free Time Learn" />
    <meta property="og:site_name"
        content="http://www.freetimelearning.com/references/bootstrap-websites/bootstrap-ecommerce-website/index.html" />
    <meta property="article:author" content="Free Time Learning" />
    <meta property="article:section" content="How To Create A Basic Bootstrap Ecommerce Website - Free Time Learning" />
    <meta property="og:url"
        content="http://www.freetimelearning.com/references/bootstrap-websites/bootstrap-ecommerce-website/index.html" />
    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-100094943-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<div class="container-fluid">
    <div class="main_shadow">
        <!-- Start Header -->
        <div class="row main_header">
            <div class="col-md-3 col-sm-3 col-xs-12 logo" align="center">
                <a href="http://www.freetimelearning.com/" target="_blank"><img src="/images/logo.jpg"
                        cla1ss="img-responsive" alt="Logo"></a>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12 form-top hidden-xs" align="center">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Here">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn_search"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12" align="right">
                        <div class="row hidden-xs">
                            <div class="row">
                                <div class="header-top pull-right">
                                    <ul>
                                        <li><a href=""><i class="fa fa-facebook"></i>&nbsp;</a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href=""><i class="fa fa-google"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix" style="margin:2px 0px;"></div>
                        <div class="row" align="center">
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <div class="header-right-bottom">
                                    <ul>
                                        <li><a href="#!">Sign In</a></li>
                                        <li style="border-right:none;"><a href="#!">Sign Up</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                <div class="header-right-bottom">
                                    <i class="fa fa-cart-plus cart_size"></i> &nbsp;
                                    <i class="fa fa-inr inr_size"></i> <span class="amount">1569 /-</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End Header -->

        <!-- Start Menu bar -->
        <nav class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- <a href="#!" class="navbar-brand">Logo</a>-->
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li> <a href="http://freetimelearning.com/" target="_blank">Home</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Men Shoes &nbsp;
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Women Shoes &nbsp;
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Kids Shoes &nbsp;
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Formal Shoes &nbsp;
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Top Brands &nbsp;
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                            <li><a href="#!"> Barnd Name</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">Products</a></li>
                    <li><a href="#!">Services</a></li>
                    <li><a href="#!">Gallery</a></li>
                    <li><a href="#!">Branches</a></li>
                </ul>
            </div>
        </nav>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div class="row" align="center">
                <div class="categories-right">Mens</div>
                <div class="content-right">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-right-product">
                            <div><img src="images/men1.jpg" class="img-responsive" alt="Top Shoes"></div>
                            <div class="content-right-product-h4">Lorem Ipsum</div>
                            <div class="content-right-product-p">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</div>
                            <div class="content-right-product-amount"><i class="fa fa-inr" style="color:#df001a;"></i>
                                1500.00</div>
                            <div class="cart" align="center"><a href="" class="btn">Add to Cart</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-right-product">
                            <div><img src="images/men2.jpg" class="img-responsive" alt="Top Shoes"></div>
                            <div class="content-right-product-h4">Lorem Ipsum</div>
                            <div class="content-right-product-p">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</div>
                            <div class="content-right-product-amount"><i class="fa fa-inr" style="color:#df001a;"></i>
                                1500.00</div>
                            <div class="cart" align="center"><a href="" class="btn">Add to Cart</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-right-product">
                            <div><img src="images/men3.jpg" class="img-responsive" alt="Top Shoes"></div>
                            <div class="content-right-product-h4">Lorem Ipsum</div>
                            <div class="content-right-product-p">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</div>
                            <div class="content-right-product-amount"><i class="fa fa-inr" style="color:#df001a;"></i>
                                1500.00</div>
                            <div class="cart" align="center"><a href="" class="btn">Add to Cart</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-right-product">
                            <div><img src="images/men4.jpg" class="img-responsive" alt="Top Shoes"></div>
                            <div class="content-right-product-h4">Lorem Ipsum</div>
                            <div class="content-right-product-p">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</div>
                            <div class="content-right-product-amount"><i class="fa fa-inr" style="color:#df001a;"></i>
                                1500.00</div>
                            <div class="cart" align="center"><a href="" class="btn">Add to Cart</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-right-product">
                            <div><img src="images/men5.jpg" class="img-responsive" alt="Top Shoes"></div>
                            <div class="content-right-product-h4">Lorem Ipsum</div>
                            <div class="content-right-product-p">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</div>
                            <div class="content-right-product-amount"><i class="fa fa-inr" style="color:#df001a;"></i>
                                1500.00</div>
                            <div class="cart" align="center"><a href="" class="btn">Add to Cart</a></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="content-right-product">
                            <div><img src="images/men6.jpg" class="img-responsive" alt="Top Shoes"></div>
                            <div class="content-right-product-h4">Lorem Ipsum</div>
                            <div class="content-right-product-p">Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry.</div>
                            <div class="content-right-product-amount"><i class="fa fa-inr" style="color:#df001a;"></i>
                                1500.00</div>
                            <div class="cart" align="center"><a href="" class="btn">Add to Cart</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>